# ignore everything
/*
.vscode

# but keep important system files
!.gitignore
!README.md

!figures
!zotero.bib
!main.tex
!vwa.cls

# ignore everything but .tex files in chapters and subfolders of it
!chapters
chapters/*
!chapters/*/
chapters/*/*
!chapters/**.tex

# ignore everxthing but .txt files in extra and subfolders of it
!a_extra
a_extra/*
!a_extra/*/
a_extra/*/*
!a_extra/**.txt

